.OX2gTc.eKG7rd {
  flex-direction:row!important;
}

#yDmH0d > c-wiz > div > div.Hu42fb > div.OX2gTc.DqVtX.dLSs8b.p7Awzb.fb0g6 > div.Kp2okb.lFgX0b > div > div > div.Kp2okb.SQyOec > div > div > div.OX2gTc.eKG7rd.MKkTS.tjY7Ib > div.Kp2okb.lFgX0b {
	flex-basis:570px!important;
}

#yDmH0d > c-wiz > div > div.Hu42fb > div.OX2gTc.DqVtX.dLSs8b.p7Awzb.fb0g6 > div.Kp2okb.lFgX0b > div > div > div.Kp2okb.SQyOec > div > div > div.OX2gTc.eKG7rd.MKkTS.tjY7Ib.LcqFFc > div.Kp2okb.lFgX0b {
	display:none;
}
